*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(15, 15, 15);

    margin: 0px;
    border: 0px;
    padding: 0px;
}
header{
    background-color: rgb(5, 5, 5);

    color: rgb(225, 225, 225);

    margin: 0px;
    padding: 10px 0px;
    border: 0px;

    width: 100%;

    font-size: 30px;
    text-align: center;
}
#wlDiv{
    background-color: rgb(225, 225, 225);

    position: absolute;
    top: calc((100vh - 60px)/2);
    left: calc((100vw - 200px)/2);

    box-sizing: border-box;

    margin: 0px auto;
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;

    width: 200px;

    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 40px;
}
#wlDiv > p{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#langChanger{
    position: absolute;
    top: 0px;
    right: 0px;

    margin: 7px;
    padding: 0px;
    border: 0px;

    width: 40px;
    height: 40px;
}
footer{
    background-color: rgb(5, 5, 5);

    position: sticky;
    bottom: 0px;
    
    width: 100%;

    margin: 0px;
    padding: 1px 0px;
    border: 0px;

    color: rgb(225, 225, 225);
    text-align: center;
    font-size: 20px;
}
#usedLettersDiv{
    vertical-align: middle;

    margin: 10px auto 5px auto;

    text-align: center;
}
.usedLetter{
    background-color: rgb(25, 25, 25);

    display: inline-block;

    margin: 2px;
    padding: 2px 5px 10px 5px;
    border: 0px;
    border-radius: 5px;

    width: 25px;
    height: 25px;

    color: rgb(225, 175, 175);
    font-size: 30px;
    text-align: center;
}
#gameDiv{
    background-color: rgb(15, 15, 15);

    vertical-align: middle;

    padding: 5px 0px;

    width: 100%;

    text-align: center;
}
#gameDiv > img{
    display: block;

    margin: 0px auto 10px auto;
    padding: 0px;
    border: 0px;

    width: 200px;
}
#wordDiv{
    margin: 5px auto;

    text-align: center;
}
.letter{
    background-color: rgb(25, 25, 25);

    display: inline-block;

    vertical-align: middle;

    margin: 2px;
    padding: 2px 5px 4px 5px;
    border: 0px;
    border-bottom: 3px solid rgb(225, 225, 225);
    border-radius: 5px 5px 0px 0px;
    outline: none;

    width: 25px;
    height: 25px;

    color: rgb(175, 225, 175);
    font-size: 30px;
    text-align: center;
}
#keyboardLabel{
    background-color: rgb(25, 25, 25);

    display: inline-block;

    margin: 5px;
    padding: 5px 5px 5px 5px;
    border: 0px;
    border-radius: 5px;

    color: rgb(225, 225, 225);
    font-size: 30px;
    text-align: center;
}
#keyboard{
    text-align: center;
}
.kbKey{
    background-color: rgb(25, 25, 25);

    display: inline-block;

    margin: 5px 0px;
    padding: 0px 5px 10px 5px;
    border: 0px;
    border-radius: 5px;

    width: 25px;
    height: 25px;

    color: rgb(225, 225, 225);
    font-size: 20px;
    text-align: center;
}
#restartButton{
    background-color: rgb(25, 25, 25);

    margin: 10px;
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;

    color: rgb(225, 225, 225);
    text-align: center;
    font-size: 20px;
}

@media (min-width: 768px) /*and (max-width: 1279px)*/ {
    header{
        font-size: 40px;
    }
    #langChanger{
        margin: 8.5px;
    
        width: 50px;
        height: 50px;
    }
    footer{
        font-size: 30px;
    }
    .usedLetter{
        width: 35px;
        height: 35px;
        
        font-size: 40px;
    }
    #gameDiv > img{
        width: 250px;
    }
    .letter{
        width: 35px;
        height: 35px;
        
        font-size: 40px;
    }
    #keyboardLabel{
        font-size: 40px;
    }
    .kbKey{
        width: 35px;
        height: 35px;
        
        font-size: 30px;
    }
    #restartButton{
        font-size: 40px;
    }
}